<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Shirt Shop - <%= locals.category.name %></title>
</head>
<body>
    <h1><%= locals.category.name %></h1>
    <div class="horizontal-links">
        <a href="/">Go Back</a>
        <a href="<%= locals.category.url %>/delete-category">Delete Category</a>
        <a href="<%= locals.category.url %>/update-category">Update Category</a>
        <a href="<%= locals.category.url %>/new">Add New Shirt</a>
    </div>
    <div class="item-wrapper">
        <% locals.shirts.forEach((shirt) => { %>
            <a href="<%= category.url %><%= shirt.url %>" class="item">
                <div class="mock-img" role="img"></div>
                <p class="label"><%= shirt.name %> - <%= shirt.usd %></p>
            </a>
        <% }) %>
    </div>
</body>
</html>